<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <div class="row p-0 m-0 align-items-center">
      <img src="{{ url_for('admin2.static', filename='img/logo.png') }}" alt="Admin2LTE Logo"
        class="brand-image img-circle elevation-3 mt-0" style="opacity: 0.8" />
      <div class="col p-0">
        <span class="brand-text font-weight-light text-bold">SISTEM</span>
        <p style="font-size: 12px; color: #ccc; opacity:0.7;" class="p-0 m-0">Monitoring Siswa</p>
      </div>
    </div>
  </a>
  <!-- Sidebar -->
  {% block sideBar %}
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-3">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact" data-widget="treeview" role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{{url_for('guru2.index')}}" class="nav-link {{ 'active' if filename=='beranda' else None }}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Beranda</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('guru2.jadwal_mengajar') }}"
            class="nav-link {{'active' if filename=='jadwal_guru'  else None}}">
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p>Jadwal Mengajar</p>
          </a>
        </li>
        <li class="nav-item {{'menu-open' if page=='absen' or page=='update-absensi' else None}}">
          <a href="#" class="nav-link {{'active' if page=='absen' or page=='update-absensi' else None}}">
            <i class="nav-icon fas fa-clipboard-check "></i>
            <p>Absen Siswa</p>
            <i class="right fa fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            {% if sqlToday %}
            {% for x in sqlToday %}
            <li class="nav-item">
              <a href="{{url_for('guru2.absensi', mengajar_id=x.id)}}" class="nav-link
                {{ 'active' if filename==x.id else ''  }}
                ">
                <i class="nav-icon far fa-circle {{'fa-dot-circle' if filename==x.id}} "></i>
                <p>{{ x.kelas}}</p>
              </a>
            </li>
            {% endfor %}
            {% else %}
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon mr-2"></i>
                <p>Tidak Ada Jadwal</p>
              </a>
            </li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item {{'menu-open' if page=='daftar-hadir' else None}}">
          <a href="#" class="nav-link {{'active' if page=='daftar-hadir' else None}}">
            <i class="nav-icon fas fa-clipboard-check "></i>
            <p>Daftar Hadir Harian</p>
            <i class="right fa fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            {% if sqlToday %}
            {% for i in sqlToday %}
            <li class="nav-item">
              <a href="{{ url_for('guru2.data_kehadiran', mengajar=i.id) }}" class="nav-link
                {{ 'active' if filename=='absensi-'+i.id | string else ''  }}
                ">
                <i
                  class="nav-icon far fa-circle {{'fa-dot-circle'if filename=='absensi-'+i.id | string else '' }} "></i>
                <p>{{ i.kelas}}</p>
              </a>
            </li>
            {% endfor %}
            {% else %}
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon mr-2"></i>
                <p>Tidak Ada Jadwal</p>
              </a>
            </li>
            {% endif %}
          </ul>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('guru2.daftar_kehadiran') }}"
            class="nav-link {{ 'active' if filename=='daftar-hadir' or filename=='rekap-data'  or filename=='result-absen' else None }}">
            <i class="nav-icon fas fa-file-export"></i>
            <p>Rekap Kehadiran</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="{{ url_for('guru2.daftar_kehadiran') }}"
            class="nav-link {{ 'active' if filename=='daftar-hadir' else None }}">
            <i class="nav-icon fas fa-file-export"></i>
            <p>Daftar Hadir</p>
          </a>
        </li> -->



        {# <li
          class="nav-item {{ 'menu-open' if filename=='daftar-hadir' or filename=='rekap-data' or filename=='result-absen' else None }}">
          <a href="#"
            class="nav-link {{ 'active' if filename=='daftar-hadir' or filename=='rekap-data'  or filename=='result-absen' else None }} ">
            <i class="nav-icon fas fa-file-export"></i>
            <p>Rekap Kehadiran</p>
            <i class="right fa fa-angle-left"></i>

          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('guru2.daftar_kehadiran') }}"
                class="nav-link {{ 'active' if filename=='daftar-hadir' or filename=='result-absen' else None }}">
                <i
                  class="nav-icon far fa-circle {{ 'fa-dot-circle' if filename=='daftar-hadir' or filename=='result-absen' else None }} "></i>
                <p>Daftar Hadir</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a href="{{ url_for('guru2.rekap_kehadiran') }}"
                class="nav-link {{ 'active' if filename=='rekap-data' else '' }}">
                <i class="nav-icon far fa-circle {{ 'fa-dot-circle' if filename=='rekap-data' else '' }} "></i>
                <p>Rekap Kehadiran</p>
              </a>
            </li> -->
          </ul>
        </li> #}

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
  {% endblock %}
</aside>