<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <div class="row p-0 m-0 align-items-center">
      <img src="{{ url_for('admin2.static', filename='img/logo.png') }}" alt="Admin2LTE Logo"
        class="brand-image img-circle elevation-3 mt-0" style="opacity: 0.8" />
      <div class="col p-0">
        <span class="brand-text font-weight-light text-bold">SMS</span>
        <p style="font-size: 12px; color: #ccc; opacity:0.7;" class="p-0 m-0">Sistem Monitoring Siswa</p>
      </div>
    </div>
  </a>

  <!-- Sidebar -->
  {% block sideBar %}
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-3">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact" data-widget="treeview" role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{{url_for('admin2.index')}}" class="nav-link {{ 'active' if filename=='beranda' else None }}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Beranda</p>
          </a>
        </li>
        <li class="nav-header">Main Menu</li>
        <!-- NOTE: DATA MASTER -->
        <li
          class="nav-item
          {{'menu-open' if filename=='data-mapel'or filename=='tambah-mapel' or filename=='edit-mapel' or filename=='data-semester' or filename=='tambah-semester' or filename=='edit-semester' or filename=='tahun-ajaran' or filename=='tambah-ajaran' or filename=='data-kelas' or filename=='tambah-kelas' or filename=='edit-kelas' or filename=='data-hari' or filename=='tambah-hari' or filename=='data-jam' or filename=='data-wali' or filename=='data-bk' or filename=='data-kepsek' or filename=='kategori-pelanggaran' or filename=='jenis-pelanggaran' else ''}}">
          <a href="#"
            class="nav-link
            {{'active' if filename=='data-mapel' or filename=='tambah-mapel' or filename=='edit-mapel' or filename=='data-semester' or filename=='tambah-semseter' or filename=='edit-semester' or filename=='tahun-ajaran' or filename=='tambah-ajaran' or filename=='data-kelas' or filename=='tambah-kelas' or filename=='edit-kelas' or filename=='data-hari' or filename=='tambah-hari' or filename=='data-jam' or filename=='data-wali' or filename=='data-bk' or filename=='data-kepsek' or filename=='kategori-pelanggaran' or filename=='jenis-pelanggaran' else ''}}">
            <i class="nav-icon fas fa-layer-group"></i>
            <p>
              Data Master
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('admin2.get_mapel')}}"
                class="nav-link {{'active' if filename=='data-mapel' or filename=='tambah-mapel' or filename=='edit-mapel'}}">
                <i
                  class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='data-mapel' or filename=='tambah-mapel' or filename=='edit-mapel'}}"></i>
                <p>Mapel</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.get_semester')}}"
                class="nav-link {{'active' if filename=='data-semester' or filename=='tambah-semester' or filename=='edit-semester' else ''}}">
                <i
                  class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='data-semester' or filename=='tambah-semester' or filename=='edit-semester' else ''}}"></i>
                <p>Semester</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.get_ajaran') }}"
                class="nav-link {{'active' if filename=='tahun-ajaran' or filename=='tambah-ajaran' else ''}}">
                <i
                  class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='tahun-ajaran' or filename=='tambah-ajaran' else ''}}"></i>
                <p>Tahun Ajaran</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.get_kelas')}}"
                class="nav-link {{'active' if filename=='data-kelas' or filename=='tambah-kelas' or filename=='edit-kelas' else ''}}">
                <i
                  class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='data-kelas' or filename=='tambah-kelas' or filename=='edit-kelas' else ''}}"></i>
                <p>Kelas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.get_hari')}}"
                class="nav-link {{'active' if filename=='data-hari' or filename=='tambah-hari' else ''}}">
                <i
                  class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='data-hari' or filename=='tambah-hari' else ''}}"></i>
                <p>Hari</p>
              </a>
            </li>
            {# <li class="nav-item">
              <a href="{{ url_for('admin2.get_jam') }}" class="nav-link {{'active' if filename=='data-jam' else ''}}">
                <i class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='data-jam' else ''}}"></i>
                <p>Jam</p>
              </a>
            </li> #}
            <li class="nav-item">
              <a href="{{ url_for('admin2.get_wali')}}" class="nav-link {{'active' if filename=='data-wali' else ''}} ">
                <i class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='data-wali' else ''}}"></i>
                <p>Wali Kelas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.get_bk') }}" class="nav-link {{'active' if filename=='data-bk' else ''}}">
                <i class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='data-bk' else ''}}"></i>
                <p>Guru BK</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.get_kepsek') }}"
                class="nav-link {{'active' if filename=='data-kepsek' else ''}}">
                <i class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='data-kepsek' else ''}}"></i>
                <p>Kepala Sekolah</p>
              </a>
            </li>

          </ul>
        </li>
        <li
          class="nav-item {{'menu-open' if filename=='data-jadwal' or filename=='tambah-jadwal' or filename=='edit-jadwal' else ''}} ">
          <a href=""
            class="nav-link {{'active' if filename=='data-jadwal' or filename=='tambah-jadwal' or filename=='edit-jadwal'  else ''}} ">
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p>
              Jadwal
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('admin2.add_jadwal') }}"
                class="nav-link {{'active' if filename=='tambah-jadwal' else ''}} ">
                <i class="nav-icon far fa-circle {{'fa-dot-circle' if filename=='tambah-jadwal' else ''}} "></i>
                <p>Tambah Jadwal</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.get_jadwal')}}"
                class="nav-link {{'active' if filename == 'data-jadwal' else ''}} ">
                <i class="nav-icon far fa-circle {{'fa-dot-circle' if filename=='data-jadwal' else ''}} "></i>
                <p>Daftar Jadwal</p>
              </a>
            </li>
          </ul>
        </li>

        <li
          class="nav-item {{'menu-open' if filename=='get-siswa' or filename=='tambah-siswa' or filename=='edit-siswa' or filename=='idcard' else ''}}">
          <a href="#"
            class="nav-link {{'active' if filename=='get-siswa' or filename=='tambah-siswa' or filename=='edit-siswa' or filename=='idcard' else ''}}">
            <i class="nav-icon fas fa-user-friends"></i>
            <p>
              Data Siswa
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('admin2.add_siswa')}}"
                class="nav-link {{'active' if filename=='tambah-siswa' else ''}}">
                <i class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='tambah-siswa' else ''}}"></i>
                <p>Tambah Siswa</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.getSiswa') }}"
                class="nav-link  {{'active' if filename=='get-siswa' or filename=='edit-siswa' else ''}}">
                <i
                  class="far fa-circle nav-icon  {{'fa-dot-circle' if filename=='get-siswa' or filename=='edit-siswa' else ''}}"></i>
                <p>Daftar Siswa</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.id_card_siswa')}}"
                class="nav-link {{'active' if filename=='idcard' else None}}">
                <i class="far  fa-circle nav-icon {{'fa-dot-circle' if filename=='idcard' else None}}"></i>
                <p>Kartu Pelajar</p>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item {{'menu-open' if filename=='data-guru' or filename=='tambah-guru' or filename=='edit-guru' else ''}}">
          <a href="#"
            class="nav-link {{'active' if filename=='data-guru' or filename=='tambah-guru' or filename=='edit-guru' else ''}}">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>
              Data Guru
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('admin2.add_guru') }}"
                class="nav-link {{'active' if filename=='tambah-guru' else ''}}">
                <i class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='tambah-guru' else ''}}"></i>
                <p>Tambah Guru</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.get_guru') }}"
                class="nav-link  {{'active' if filename=='data-guru' else ''}}">
                <i class="far fa-circle nav-icon  {{'fa-dot-circle' if filename=='data-guru' else ''}}"></i>
                <p>Daftar Guru</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-header">Pengaturan</li>
        <li class="nav-item">
          <a href="{{url_for('admin2.get_user')}}" class="nav-link {{ 'active' if filename=='data-user' else None }}">
            <i class="fas fa-users nav-icon"></i>
            <p>Akun Pengguna</p>
          </a>
        </li>
        {# <li class="nav-item">
          <a href="{{ url_for('admin2.tambah_admin')}}" class="nav-link {{'active' if filename == 'tambah-admin'}}">
            <i class="fas fa-user-plus nav-icon"></i>
            <p>Tambah Admin</p>
          </a>
        </li> #}

        {#<li class="nav-header">Laporan</li>
        <li
          class="nav-item
          {{ 'menu-open' if filename=='daftar_hadir' or filename=='result-bulan' or filename=='hadir-semester' or filename=='result-semester'  else '' }}">
          <a href="#"
            class="nav-link
            {{ 'active' if filename=='daftar_hadir' or filename=='result-bulan' or filename=='hadir-semester' or filename=='result-semester' else ''}}">
            <i class="nav-icon fas fa-list"></i>
            <p>Data Kehadiran
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('admin2.data_kehadiran_bulan') }}"
                class="nav-link {{ 'active' if filename=='daftar_hadir' or filename=='result-bulan' else '' }}">
                <i
                  class="nav-icon far fa-circle  {{ 'fa-dot-circle' if filename=='daftar_hadir' or filename=='result-bulan' else '' }}"></i>
                <p>Bulan</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin2.data_kehadiran_semester') }}"
                class="nav-link {{ 'active' if filename=='hadir-semester' or filename=='result-semester' else '' }}">
                <i class="nav-icon far fa-circle
                  {{ 'fa-dot-circle' if filename=='hadir-semester' or filename=='result-semester' else '' }}"></i>
                <p>Semester</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item ">
          <a href="{{ url_for('admin2.select_siswa') }}"
            class="nav-link {{ 'active' if filename=='siswa-kelas' or filename=='select-siswa' else '' }}">
            <i class="nav-icon fas fa-print"></i>
            <p>Surat Pernyataan</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('admin2.rekap_bulan') }}"
            class="nav-link {{ 'active' if filename=='rekap-bulan' else '' }}">
            <i class="nav-icon fas fa-print"></i>
            <p>Rekap Absen</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-print"></i>
            <p>Rekap Pelanggaran</p>
          </a>
        </li>#}
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
  {% endblock %}
</aside>