.idea/
.vscode/
env/
venv/
__pycache__/
app/__pycache__/
alchemydumps/
.mypy_cache/
test.py
test_json.py
key.pem
cert.pem
*.pyc
*.txt
wa.py
z/
# *.png
# *.jpg
# *.jpeg
app/api/static/img/siswa/foto/
app/api/static/img/siswa/id_card/