asyncio
Flask==2.3.3
Flask-JWT-Extended==4.5.2
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
Flask-WTF
html2image
Pillow
PyMySQL
python-dotenv
pytz
qrcode
requests
WTForms-SQLAlchemy==0.3
xlwt==1.3.0
Werkzeug==2.3.7