{% extends "base.html" %}
{% set filename = 'beranda' %}
{% block title_header %}Sistem Monitoring Siswa{% endblock %}
{% block title %}Beranda Staff{% endblock %}
{# {% block nama_user %}Selamat Datang, <strong>{{ session.first_name.title()}} {{ session.last_name.title()}} </strong>
{%
endblock %} #}
{% block content %}
<div class="row">
  <!-- <div class="col-md-3">
    <div class="card card-info card-outline h-100">
      <div class="card-body">
        <div class="text-center">
          <img src="{{ url_for('.static', filename='img/logo.png') }}" width="75px" alt="">
          <h6 class=" font-weight-bolder mt-1 mb-0">UPT SPF SMP NEGERI 2 MAKASSAR</h6>
          <p class="description-text mt-0">
            Jl. Amanagappa, No. 4 No.4, Baru, Kec. Ujung Pandang,<br> Kota Makassar, Sulawesi Selatan 90115
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="col-md-3">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <div class="text-center">
          <img class="profile-user-img img-fluid img-circle" src="{{ url_for('.static', filename='img/logo.png') }}"
            alt="">
        </div>
        <h3 class="profile-username text-center">UPT SPF SMPN2 MAKASSAR</h3>
        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

        <p class="text-muted mb-0">Jl. Amanagappa, No. 4 No.4, Baru, Kec. Ujung Pandang,<br> Kota Makassar, Sulawesi
          Selatan
          90115</p>

        <hr style="margin: 8px 0;">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="small-box bg-gradient-red">
              <div class="inner">
                <h3>{{ count_kelas}}</h3>
                <p class="mt-2">Kelas Ajar</p>
              </div>
              <div class="icon align-middle">
                <i class="fas fa-building"></i>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="small-box bg-gradient-teal">
              <div class="inner">
                <h3>{{ count_today }}</h3>
                <p class="mt-2">Jadwal Hari Ini</p>
              </div>
              <div class="icon align-middle">
                <i class="fas fa-book"></i>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="small-box bg-gradient-navy">
              <div class="inner">
                <h3>{{ count_besok }}</h3>
                <p class="mt-2">Jadwal Besok</p>
              </div>
              <div class="icon align-middle">
                <i class="fas fa-book-open"></i>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}