{% extends "base.html" %}
{% set filename = 'data-user' %}
{% block title %}Data User{% endblock %}

{% block head %}
{{ super() }}
<!-- DataTables -->
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}


{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title fa fa-users font-weight-bold text-lg"> Data Pengguna</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->

  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>NO</th>
          <th class="text-center">Username</th>
          <th class="text-center">Group</th>
          <th class="text-center">Taggal Buat</th>
          <th class="text-center">Last Update</th>
          <th class="text-center">Las Login</th>
          <th class="text-center" style="width: 70px;">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for _ in user %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{_.username}}</td>
          <td>{{_.group.upper()}}</td>
          <td>{{_.join_date | datetime_id(hari=false, jam=false)}}</td>
          <td>{{_.update_date | datetime_id(hari=false) if _.update_date else '-'}}</td>
          <td>{{_.user_last_login | datetime_id(hari=false) if _.user_last_login else '-'}}</td>
          <td class="text-center">
            <a href="{{ url_for('admin2.update_status', pengguna=_.id)}}"
              class="btn btn-xs btn-outline-{{'danger' if _.is_active == '0' else 'success'}} " data-tooltip="tooltip"
              title="{{'Aktifkan' if _.is_active == '0' else 'Non-Aktifkan'}}">
              <i class="fas fa-{{'user' if _.is_active == '1' else 'user-slash'}}"></i>
            </a>
            <button class="btn btn-xs btn-outline-warning" title="Ubah Password" data-toggle="modal"
              data-tooltip="tooltip" title="Ubah Password" data-target="#modal-user-{{_.id}}">
              <i class="fas fa-sync"></i>
            </button>
          </td>

        </tr>
        {% include 'modal/admin/user/modal_user.html' %}
        {% endfor %}
      </tbody>

    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
</div>
{% endblock %}
{% block js %}
<!-- DataTables  & Plugins -->
<script src="{{ url_for('.static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}">
</script>
<script src="{{ url_for('.static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}">
</script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<!-- <script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script> -->
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- Page specific script -->
<script>
  $(function () {

    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,

    });

    $('[data-tooltip="tooltip"]').tooltip()
  });
</script>
{% endblock js %}