<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="{{ url_for('admin2.static', filename='img/logo.png') }}" alt="Admin2LTE Logo"
      class="brand-image img-circle elevation-3" style="opacity: 0.8" />
    <span class="brand-text font-weight-light">E-Monitoring Siswa</span>
  </a>

  <!-- Sidebar -->
  {% block sideBar %}
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    {# <div class="user-panel mt-2 pb-1 mb-3 d-flex align-items-center">
      <div class="image">
        <img src="{{ url_for('admin2.static', filename='img/avatar.png')}}" class="img-circle elevation-2"
          alt="User Image" />
      </div>
      <div class="info">
        <a href="#collapseExample" class="d-block">
          {% if current_user.is_authenticated %}
          <p class="mb-0 p-0">
            {{ current_user.first_name}} {{ current_user.last_name}}
            <!-- <i class="right fas fa-angle-left"></i> -->
          </p>
          <div class="text-white-50">{{ current_user.username | upper}}</div>
          {% endif %}
        </a>
      </div>
    </div> #}
    <!-- Sidebar Menu -->
    <nav class="mt-3">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact" data-widget="treeview" role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{{url_for('guru2.index')}}" class="nav-link {{ 'active' if filename=='beranda' else None }}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Beranda</p>
          </a>
        </li>
        <li class="nav-header">Main Menu</li>
        <li class="nav-item">
          <a href="{{ url_for('guru2.jadwal_mengajar') }}"
            class="nav-link {{'active' if filename=='jadwal_guru'  else None}}">
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p>Jadwal Mengajar</p>
          </a>
        </li>
        <li class="nav-item {{'menu-open' if page=='absen' or page=='update-absensi' else None}}">
          <a href="#" class="nav-link {{'active' if page=='absen' or page=='update-absensi' else None}}">
            <i class="nav-icon fas fa-clipboard-check "></i>
            <p>Absens Siswa</p>
            <i class="right fa fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            {% if sqlToday %}
            {% for x in sqlToday %}
            <li class="nav-item">
              <a href="{{url_for('guru2.absensi', mengajar_id=x.id)}}" class="nav-link
                {{ 'active' if filename==x.id else ''  }}
                ">
                <i class="nav-icon far fa-circle {{'fa-dot-circle' if filename==x.id}} "></i>
                <p>{{ x.kelas}}</p>
              </a>
            </li>
            {% endfor %}
            {% else %}
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon mr-2"></i>
                <p>Tidak Ada Jadwal</p>
              </a>
            </li>
            {% endif %}
          </ul>
        </li>
        <li
          class="nav-item {{ 'menu-open' if filename=='daftar-hadir' or filename=='rekap-data' or filename=='result-absen' else None }}">
          <a href="#"
            class="nav-link {{ 'active' if filename=='daftar-hadir' or filename=='rekap-data'  or filename=='result-absen' else None }} ">
            <i class="nav-icon fas fa-list-alt"></i>
            <p>Data Kehadiran</p>
            <i class="right fa fa-angle-left"></i>

          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('guru2.daftar_kehadiran') }}"
                class="nav-link {{ 'active' if filename=='daftar-hadir' or filename=='result-absen' else None }}">
                <i
                  class="nav-icon far fa-circle {{ 'fa-dot-circle' if filename=='daftar-hadir' or filename=='result-absen' else None }} "></i>
                <p>Daftar Hadir</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('guru2.rekap_kehadiran') }}"
                class="nav-link {{ 'active' if filename=='rekap-data' else '' }}">
                <i class="nav-icon far fa-circle {{ 'fa-dot-circle' if filename=='rekap-data' else '' }} "></i>
                <p>Rekap Kehadiran</p>
              </a>
            </li>
          </ul>
        </li>

        {# <!---- RPORT --->
        <li class="nav-header">Report</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-print"></i>
            <p>Rekap Absen</p>
          </a>
        </li> #}
        {# <li class="nav-header">Authentication</li>
        <li class="nav-item {{'menu-open' if filename=='update_profile' or filename=='password' else None}}">
          <a href="#" class="nav-link {{'active' if filename=='update_profile' or filename=='password' else  None}}">
            <i class="nav-icon fas fa-user-cog"> </i>
            <p>
              Pengaturan Akun
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('guru2.profile_guru') }}"
                class="nav-link {{'active' if filename=='update_profile' else ''}}">
                <i class="far nav-icon fa-circle {{'fa-dot-circle' if filename=='update_profile' else ''}}"></i>
                <p>Profil</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('guru2.update_pswd') }}"
                class="nav-link {{'active' if filename=='password' else None}}">
                <i class="far fa-circle nav-icon {{'fa-dot-circle' if filename=='password' else None}}"></i>
                <p>Ubah Password</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('login.logout') }}" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul> #}

    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
  {% endblock %}
</aside>