<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="{{ url_for('admin2.static', filename='img/logo.png') }}" alt="Admin2LTE Logo"
      class="brand-image img-circle elevation-3" style="opacity: 0.8" />
    <span class="brand-text font-weight-light">E-Monitoring Siswa</span>
  </a>

  <!-- Sidebar -->
  {% block sideBar %}
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-3">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact" data-widget="treeview" role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{{url_for('wali_kelas.index')}}" class="nav-link {{ 'active' if filename=='index_wali' else None }}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Beranda</p>
          </a>
        </li>
        <li class="nav-header">Main Menu</li>
        <li class="nav-item">
          <a href="{{ url_for('wali_kelas.data_siswa') }}"
            class="nav-link {{ 'active' if filename=='data-siswa' else '' }}">
            <i class="nav-icon fas fa-users"></i>
            <p>Data Siswa</p>
          </a>
        </li>
        <li class="nav-item {{ 'menu-open' if filename=='rekap-absen' or filename=='by-mapel' else '' }}">
          <a href="#" class="nav-link {{ 'active' if filename=='rekap-absen' or filename=='by-mapel' else '' }}">
            <i class="nav-icon fas fa-list-alt"></i>
            <p>Rekap Kehadiran</p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('wali_kelas.rekap_absen') }}"
                class="nav-link {{ 'active' if filename=='rekap-absen' else '' }} ">
                <i class="nav-icon far fa-circle {{ 'fa-dot-circle' if filename=='rekap-absen' else '' }}"></i>
                <p>By Kelas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('wali_kelas.rekap_absen_mapel') }}"
                class="nav-link {{'active' if filename=='by-mapel' else ''}} ">
                <i class="nav-icon far fa-circle {{'fa-dot-circle' if filename=='by-mapel' else ''}} "></i>
                <p>By Mata Pelajaran</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-database"></i>
            <p>Data Sanksi Siswa</p>
          </a>
        </li>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
  {% endblock %}
</aside>