{% extends "base.html" %}
{% set filename='password' %}
{% block content %}
<div class="row">
    <div class="col-md-4">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Update Password</h3>
            </div>
            <form action="" method="post">
                <div class="card-body">
                    {{form.csrf_token }}
                    {{ form.password.label()}}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid", placeholder="Password Baru")}}
                    {% for msg in form.password.errors%}
                    <span class="error invalid-feedback">{{msg}}</span>
                    {% endfor %}
                    {% elif form.password.data %}
                    {{ form.password(class="form-control", placeholder="Password Baru")}}
                    {% else %}
                    {{ form.password(class="form-control", placeholder="Password Baru")}}
                    {% endif %}

                </div>
                <div class="card-footer">
                    {{ form.submit(class="btn btn-primary float-right")}}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}