{% extends 'base.html' %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/my_style.css')}}" />
<!-- DataTables -->
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}" />
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}" />
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}" />
{% endblock %}
{% set filename='detail-pelanggaran' %}
{% set name = 'wali' %}
{% block content %}
<div class="row">
  <div class="col-md-1">
    <h6 class="font-weight-bold">Nama</h6>
  </div>
  <div>
    <h6 class="font-weight-bold">:</h6>
  </div>
  <div class="col-md-auto">
    <h6 class="font-weight-bold">
      {{ detail.siswa.first_name | title() }} {{ detail.siswa.last_name |
      title() }}
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <h6 class="font-weight-bold">Kelas</h6>
  </div>
  <div>
    <h6 class="font-weight-bold">:</h6>
  </div>
  <div class="col-md-auto">
    <h6 class="font-weight-bold">{{ detail.siswa.kelas.kelas }}</h6>
  </div>
</div>
<div class="row mt-2 p-0">
  <div class="col-md">
    <h6 class="m-0 text-bold">Riwayat Pelanggaran</h6>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr class="mb-2 mt-1" />
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header pt-1 pb-2">
        <button class="btn btn-sm btn-info float-right" onclick="history.back()"><i
            class="fas fa-arrow-left mr-1"></i>Kembali</button>
      </div>
      <div class="card-body">
        <div class="row">
          {% for item in riwayat %}
          <div class="col-md-3">
            <div class="card card-danger card-outline">
              <div class="card-body box-profile">
                <div class="row justify-content-between">
                  <p class="text-center text-danger mb-2 font-weight-bold">
                    Pelanggaran Ke-{{loop.index}}
                  </p>
                  {% if url_for('wali_kelas.get_pelanggaran_siswa') | string != request.url_rule | string %}
                  <div class="row">
                    <a href="#edit-{{item.id}}" class="btn btn-sm btn-outline-warning border-0 " tooltip="true"
                      data-toggle="modal" data-placement="left" title="Edit data?">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ url_for('.delete_data_pelanggaran', pelanggaran=item.id, siswa=item.siswa_id)}}"
                      class="btn btn-sm btn-outline-danger border-0" data-toggle="tooltip" data-placement="right"
                      title="Delete data?">
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>
                  {% endif %}
                </div>
                <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                    <b class="text-dark">Tgl:</b>
                    <p class="float-right m-0">{{ format(item.tgl_report) }}</p>
                  </li>
                </ul>

                <div style="padding: 12px 0">
                  <p class="text-bold text-dark m-0">Pelanggaran :</p>
                  <div class="ml-1 mr-1">
                    <p class="text-dark text-justify font-weight-normal mb-0">
                      {{ item.jenis_pelanggaran.jenis_pelanggaran.capitalize() }}
                    </p>
                  </div>
                </div>

                <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                    <p class="text-bold text-dark m-0">Catatan : {% if item.note | length >= 25 %}
                      <span class="float-right"><a href="#detail-{{item.id}}" data-toggle="modal" tooltip="true"
                          data-placement="left" title="Lihat Selengkapnya"><i class=" fas fa-eye"></i></a></span>
                      {% endif %}
                    </p>
                    <div class="ml-1 mr-1">
                      <p class="text-dark text-left font-weight-normal mb-0">
                        {{ item.note | capitalize | truncate(20) }}
                      </p>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          {% include 'modal/guru_bk/pelanggaran/detail_pelanggaran.html' %}
          {% if url_for('wali_kelas.get_pelanggaran_siswa') | string != request.url_rule | string %}
          {% include 'modal/guru_bk/pelanggaran/edit_pelanggaran.html' %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('[tooltip=true]').tooltip()
    '{% for i in riwayat %}'

    $('#tgl-{{loop.index}}').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      //timePicker: true,
      //timePicker24Hour: true,
      //timePickerSeconds: true,
      // startDate: "2020-01-01 12:00:00",
      //startDate: moment().startOf('hour:minute:second'),
      locale: {
        format: 'YYYY-MM-DD'
      }
    });
    '{% endfor %}'


  });


</script>
{% endblock %}