{% extends "base.html" %}
{% set filename = 'edit-guru'  %}
{% block title %}Form Edit Siswa{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title fas fa-user-edit font-weight-bold text-lg">&nbsp;Form Edit Data Guru</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form action="" method="post">
      {{ form.csrf_token }}
      <div class="col-md-11 m-auto">
        <div class="row">
          <!-- NSIN /USERNAME -->
          <div class="col-md-6">
            <div class="form-group">
              {{ form.nip.label}}
              {% if form.nip.errors %}
              {{ form.nip(class="form-control form-control-sm is-invalid", placeholder="nip" ,aria_invalid="true")}}
              {% for msg in form.nip.errors %}
              <span class="error invalid-feedback">{{ msg }}</span>
              {% endfor %}
              {% elif form.nip.data %}
              {{ form.nip(class="form-control form-control-sm", aria_invalid="false")}}
              {% else %}
              {{ form.nip(class="form-control form-control-sm", placeholder="NISN")}}
              {% endif %}
            </div>
          </div>
          <!-- FULLNAME -->
          <div class="col-md-6">
            <div class="form-group">
              {{ form.fullname.label}}
              {% if form.fullname.errors %}
              {{ form.fullname(class="form-control form-control-sm is-invalid", placeholder="Nama Lengkap", aria_invalid="true")}}
              {% for msg in form.fullname.errors %}
              <span class="error invalid-feedback">{{msg}}</span>
              {% endfor %}
              {% elif form.fullname.data %}
              {{ form.fullname(class="form-control form-control-sm", aria_invalid="false")}}
              {% else %}
              {{ form.fullname(class="form-control form-control-sm", placeholder="Nama Lengkap")}}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ form.jenisKelamin.label}}
              {% if form.jenisKelamin.errors %}
              {{ form.jenisKelamin(class="form-control form-control-sm is-invalid", aria_invalid="true")}}
              {% for msg in form.jenisKelamin.errors %}
              <span class="error invalid-feedback">{{msg}}</span>
              {% endfor %}
              {% elif form.jenisKelamin.data %}
              {{ form.jenisKelamin(class="form-control form-control-sm", aria_invalid="false")}}
              {% else %}
              {{ form.jenisKelamin(class="form-control form-control-sm")}}
              {% endif %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form.agama.label}}
              {% if form.agama.errors %}
              {{ form.agama(class="form-control form-control-sm is-invalid", aria_invalid="true")}}
              {% for msg in form.agama.errors %}
              <span class="error invalid-feedback">{{msg}}</span>
              {% endfor %}
              {% elif form.agama.data %}
              {{ form.agama(class="form-control form-control-sm", aria_invalid="false")}}
              {% else %}
              {{ form.agama(class="form-control form-control-sm", onmousedown="if(this.options.length>6){this.size=6;}",  onchange='this.size=0;', onblur="this.size=0;")}}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ form.alamat.label}}
              {% if form.alamat.errors %}
              {{ form.alamat(class="form-control form-control-sm is-invalid", aria_invalid="true")}}
              {% for msg in form.alamat.errors %}
              <span class="error invalid-feedback">{{msg}}</span>
              {% endfor %}
              {% elif form.alamat.data %}
              {{ form.alamat(class="form-control form-control-sm", aria_invalid="false")}}
              {% else %}
              {{ form.alamat(class="form-control form-control-sm", onmousedown="if(this.options.length>6){this.size=6;}",  onchange='this.size=0;', onblur="this.size=0;")}}
              {% endif %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form.telp.label}}
              {% if form.telp.errors %}
              {{ form.telp(class="form-control form-control-sm is-invalid", aria_invalid="true")}}
              {% for msg in form.telp.errors %}
              <span class="error invalid-feedback">{{msg}}</span>
              {% endfor %}
              {% elif form.telp.data %}
              {{ form.telp(class="form-control form-control-sm", aria_invalid="false")}}
              {% else %}
              {{ form.telp(class="form-control form-control-sm", onmousedown="if(this.options.length>6){this.size=6;}",  onchange='this.size=0;', onblur="this.size=0;")}}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ form.submit(class="btn btn-primary btn-sm") }}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <!-- <div class="col-md-11 m-auto">
        {{ form.submit(class="btn btn-primary btn-sm") }}
      </div> -->
  </div>
</div>
{% endblock %}
{% block js %}
<!-- bs-custom-file-input -->
<script src="{{ url_for('.static', filename='plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>

<script>
  $(function () {
    bsCustomFileInput.init();
  });
</script>
{% endblock %}