{% extends "base.html" %}
{% set filename = 'edit-kelas'  %}
{% block title %}Edit Kelas{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title font-weight-bold text-lg">&nbsp;Form Edit Data Kelas</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form action="" method="post">
      {{ form.csrf_token }}
      <div class="col-md-11 m-auto">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              {{ form.kelas.label}}
              {% if form.kelas.errors %}
              {{ form.kelas(class="form-control form-control-sm is-invalid", placeholder="Nama Kelas" ,aria_invalid="true")}}
              {% for msg in form.kelas.errors %}
              <span class="error invalid-feedback">{{ msg }}</span>
              {% endfor %}
              {% elif form.kelas.data %}
              {{ form.kelas(class="form-control form-control-sm", aria_invalid="false")}}
              {% else %}
              {{ form.kelas(class="form-control form-control-sm", placeholder="Nama Kelas")}}
              {% endif %}
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              {{ form.jumlahLaki.label}}
              {% if form.jumlahLaki.errors %}
              {{ form.jumlahLaki(class="form-control form-control-sm is-invalid", placeholder="Jumlah Siswa Laki-Laki" ,aria_invalid="true")}}
              {% for msg in form.jumlahLaki.errors %}
              <span class="error invalid-feedback">{{ msg }}</span>
              {% endfor %}
              {% elif form.jumlahLaki.data %}
              {{ form.jumlahLaki(class="form-control form-control-sm", aria_invalid="false")}}
              {% else %}
              {{ form.jumlahLaki(class="form-control form-control-sm", placeholder="Jumlah Siswa Laki-Laki")}}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              {{ form.jumlahPerempuan.label}}
              {% if form.jumlahPerempuan.errors %}
              {{ form.jumlahPerempuan(class="form-control form-control-sm is-invalid", placeholder="Jumlah Siswa Perempuan" ,aria_invalid="true")}}
              {% for msg in form.jumlahPerempuan.errors %}
              <span class="error invalid-feedback">{{ msg }}</span>
              {% endfor %}
              {% elif form.jumlahPerempuan.data %}
              {{ form.jumlahPerempuan(class="form-control form-control-sm", aria_invalid="false")}}
              {% else %}
              {{ form.jumlahPerempuan(class="form-control form-control-sm", placeholder="Jumlah Siswa Perempuan")}}
              {% endif %}
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              {{ form.jumlahSiswa.label}}
              {% if form.jumlahSiswa.errors %}
              {{ form.jumlahSiswa(class="form-control form-control-sm is-invalid", placeholder="Jumlah Siswa" ,aria_invalid="true")}}
              {% for msg in form.jumlahSiswa.errors %}
              <span class="error invalid-feedback">{{ msg }}</span>
              {% endfor %}
              {% elif form.jumlahSiswa.data %}
              {{ form.jumlahSiswa(class="form-control form-control-sm", aria_invalid="false")}}
              {% else %}
              {{ form.jumlahSiswa(class="form-control form-control-sm", placeholder="Jumlah Siswa")}}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ form.submit(class="btn btn-primary btn-sm") }}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <!-- <div class="col-md-11 m-auto">
        {{ form.submit(class="btn btn-primary btn-sm") }}
      </div> -->
  </div>
</div>
{% endblock %}
{% block js %}
<!-- bs-custom-file-input -->
<script src="{{ url_for('.static', filename='plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>

<script>
  $(function () {
    bsCustomFileInput.init();
  });
</script>
{% endblock %}