{% extends "base.html" %}
{% set filename = 'index_wali' %}
{% block title_header %}Sistem Monitoring Siswa{% endblock %}
{% block title %}Beranda Staff{% endblock %}
{% block nama_user %}Selamat Datang, <strong>{{ session.first_name.title()}} {{ session.last_name.title()}} </strong> {%
endblock %}
{% block content %}
<div class="row">
  <!-- <div class="col-md-3">
    <div class="card card-info card-outline h-100">
      <div class="card-body">
        <div class="text-center">
          <img src="{{ url_for('.static', filename='img/logo.png') }}" width="75px" alt="">
          <h6 class=" font-weight-bolder mt-1 mb-0">UPT SPF SMP NEGERI 2 MAKASSAR</h6>
          <p class="description-text mt-0">
            Jl. Amanagappa, No. 4 No.4, Baru, Kec. Ujung Pandang,<br> Kota Makassar, Sulawesi Selatan 90115
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-md-3">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <div class="text-center">
          <img class="profile-user-img img-fluid img-circle" src="{{ url_for('.static', filename='img/logo.png') }}"
            alt="">
        </div>
        <h3 class="profile-username text-center">UPT SPF SMPN2 MAKASSAR</h3>
        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

        <p class="text-muted mb-0">Jl. Amanagappa, No. 4 No.4, Baru, Kec. Ujung Pandang,<br> Kota Makassar,
          Sulawesi
          Selatan
          90115</p>

        <hr style="margin: 8px 0;">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="small-box bg-gradient-info">
              <div class="inner">
                <h3>{{ data.siswa}}</h3>
                <p class="mt-2">Jumlah Siswa</p>
              </div>
              <div class="icon align-middle">
                <i class="fas fa-users"></i>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="small-box bg-gradient-teal">
              <div class="inner">
                <h3>{{ data.laki2 }}</h3>
                <p class="mt-2">Jumlah Siswa Laki-Laki</p>
              </div>
              <div class="icon align-middle">
                <i class="fas fa-users"></i>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="small-box bg-gradient-navy">
              <div class="inner">
                <h3>{{ data.perempuan }}</h3>
                <p class="mt-2">Jumlah Siswa Perempuan</p>
              </div>
              <div class="icon align-middle">
                <i class="fas fa-users"></i>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-bordered table-sm table-striped">
              <tr class="text-center">
                <th style="width: 50px;">No.</th>
                <th style="width: 250px;">Nama Siswa</th>
                <th>TotalPelanggaran</th>
                <th>TotalPembinaan</th>
                <th>Aksi</th>
              </tr>
              {% for i in pelanggaran %}
              <tr>
                <td class="text-center">{{loop.index}}.</td>
                <td>{{ i.siswa.first_name.title( )}} {{ i.siswa.last_name.title( )}} </td>
                <td class="text-center">{{ PM.filter_by(siswa_id=i.siswa_id).count()}}x</td>
                <td class="text-center">{{ BM.filter_by(siswa_id=i.siswa_id).count()}}x</td>
                <td class="text-center">
                  <a href="{{ url_for('.get_pelanggaran_siswa', id=i.siswa_id) }}" class="btn btn-sm btn-link"
                    data-toggle="tooltip" data-placement="left" title="Detail Pelanggaran"><strong>Lihat
                      Pelanggaran</strong></a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}