{% extends "base.html" %}
{% set filename = 'edit-siswa' %}
{% block title %}Form Edit Siswa{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title fas fa-user-edit font-weight-bold text-lg">&nbsp;Form Edit Data Siswa</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form action="{{ url_for('admin2.updated_siswa', siswa=data.user_id, kelas=data.kelasId) }}" method="post">
      {{ form.csrf_token }}
      <div class="col-md-11 m-auto">
        <div class="row">
          <!-- NSIN /USERNAME -->
          <div class="col-md-6">
            <div class="form-group">
              {{ form.nisn.label}}
              {{ form.nisn(class="form-control form-control-sm", placeholder="NISN")}}
            </div>
          </div>
          <!-- FULLNAME -->
          <div class="col-md-6">
            <div class="form-group">
              {{ form.fullname.label}}

              {{ form.fullname(class="form-control form-control-sm", placeholder="Nama Lengkap")}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ form.kelas.label}}
              {{ form.kelas(class="form-control form-control-sm", onmousedown="if(this.options.length>6){this.size=6;}",
              onchange='this.size=0;', onblur="this.size=0;")}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form.jenisKelamin.label}}
              {{ form.jenisKelamin(class="form-control form-control-sm")}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ form.tempatLahir.label}}
              {{ form.tempatLahir(class="form-control form-control-sm",
              onmousedown="if(this.options.length>6){this.size=6;}", onchange='this.size=0;', onblur="this.size=0;")}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form.tanggalLahir.label}}
              {{ form.tanggalLahir(class="form-control form-control-sm",
              onmousedown="if(this.options.length>6){this.size=6;}", onchange='this.size=0;', onblur="this.size=0;")}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ form.agama.label}}
              {{ form.agama(class="form-control form-control-sm", onmousedown="if(this.options.length>6){this.size=6;}",
              onchange='this.size=0;', onblur="this.size=0;")}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form.alamat.label}}
              {{ form.alamat(class="form-control form-control-sm",
              onmousedown="if(this.options.length>6){this.size=6;}", onchange='this.size=0;', onblur="this.size=0;")}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ form.namaOrtu.label}}
              {{ form.namaOrtu(class="form-control form-control-sm",
              onmousedown="if(this.options.length>6){this.size=6;}", onchange='this.size=0;', onblur="this.size=0;")}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form.telp.label}}
              {{ form.telp(class="form-control form-control-sm", onmousedown="if(this.options.length>6){this.size=6;}",
              onchange='this.size=0;', onblur="this.size=0;")}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-warning" onclick="window.history()">Batal</button>
            {{ form.submit(class="btn btn-primary float-right") }}
          </div>

        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <!-- <div class="col-md-11 m-auto">
        {{ form.submit(class="btn btn-primary btn-sm") }}
      </div> -->
  </div>
</div>
{% endblock %}
{% block js %}
<!-- bs-custom-file-input -->
<script src="{{ url_for('.static', filename='plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>

<script>
  $(function () {
    bsCustomFileInput.init();
  });
</script>
{% endblock %}