{% extends "base.html" %}
{% set filename = 'get-siswa' %}
{% block title %}Data Siswa{% endblock %}
{% block head %}
{{ super() }}
<!-- DataTables -->
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}
{% block content %}
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title fas fa-users font-weight-bold text-lg">&nbsp;Data Siswa</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a href="{{ url_for('admin2.add_siswa')}}" class="btn btn-sm btn-primary mb-2">
          <i class="fas fa-plus"></i>
          Tambah Data
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table id="example1" class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th width="20" class="text-center">No.</th>
              <th class="text-center">NISN</th>
              <th class="text-center">Nama Siswa</th>
              <th class="text-center" width="15">L/P</th>
              <!-- <th>Kelas</th> -->
              <th class="text-center">Kelas</th>
              <th class="text-center">QR Code</th>
              <th class="text-center">Foto</th>
              <th class="text-center">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for i in siswa['data'] %}
            <tr>
              <td class="text-center">{{ loop.index }}</td>
              <td>{{i.nisn}}</td>
              <td>{{i.first_name}} {{i.last_name}}</td>
              <td class="align-middle text-center">{{ 'L' if i.gender=='Laki-Laki' else 'P' }}</td>
              <!-- <td class="align-middle">{{ i.kelas }}</td> -->
              <td class="align-middle text-center">{{ i.kelas }}</td>
              <!-- QR CODE -->
              <td class="align-middle text-center align-items-center">
                {% if i.qr_code %}
                <!-- <img src="{{ i.qr_code}}" height="50px" style="border-radius: 12%;" alt=""><br> -->
                <button class="btn btn-outline-info btn-xs border-0" data-toggle="modal" data-target="#qr-{{i.id}}"
                  data-tooltip="tooltip" title="Lihat QR Code">
                  <i class="fas fa-eye"></i>
                </button>
                <a href="{{ url_for('admin2.download_qr', siswa=i.id) }}" data-tooltip="tooltip" title="Unduh QR"
                  target="_blank" title="Unduh" class="btn btn-outline-success btn-xs border-0">
                  <i class="fas fa-download"></i>
                </a>
                <a href="{{ url_for('admin2.delete_qr', siswa=i.id)}}" class="btn btn-xs btn-outline-danger border-0"
                  data-tooltip="tooltip" title="Hapus Foto QR?">
                  <i class="fas fa-times"></i>
                </a>
                {% else %}
                <a href="{{ url_for('admin2.generate_qc', id=i.id) }}" class="btn btn-xs btn-primary">
                  <i class="fas fa-qrcode"></i>
                  Generate
                </a>
                {% endif %}
              </td>
              <!-- IMAGE -->
              <td class="align-middle text-center">
                {% if i.picture %}
                <!-- <img src="{{ i.picture }}" height="50px" style="border-radius: 12%" alt=""> <br> -->
                <button class="btn btn-outline-info btn-xs border-0" data-tooltip="tooltip" title="Lihat Foto"
                  data-toggle="modal" data-target="#image-{{i.id}}">
                  <i class="fas fa-eye"></i>
                </button>
                <a href="{{ url_for('admin2.download_foto', siswa=i.id) }}" data-tooltip="tooltip" title="Unduh Foto"
                  target="_blank" title="Unduh" class="btn btn-outline-success btn-xs border-0">
                  <i class="fas fa-download"></i>
                </a>
                <a href="{{ url_for('admin2.delete_foto', siswa=i.id)}}" class="btn btn-xs btn-outline-danger border-0"
                  data-tooltip="tooltip" title="Hapus Foto?">
                  <i class="fas fa-times"></i>
                </a>
                {% if i.qr_code %}
                <span>|</span>
                <a href="{{ url_for('proses.generate_idcard', siswa=i.id)}}"
                  class="btn btn-outline-info btn-xs border-0 {{'disabled' if i.id_card != None else None}}"
                  data-tooltip="tooltip" title="Generate Kartu Pelajar">
                  <i class="fas fa-id-card"></i>
                </a>
                {% endif %}
                {% else %}
                <button class="btn btn-outline-warning btn-xs" data-toggle="modal" data-target="#upload-{{i.id}}">
                  <i class="fas fa-upload"></i> Upload
                </button>

                {% endif %}
              </td>
              <!-- AKSI -->
              <td class="align-middle text-center">
                <button class="btn btn-outline-info btn-xs" data-toggle="modal" data-target="#modal-detail{{i.id}}">
                  <i class="fas fa-eye"></i>
                </button>
                <a href="{{ url_for('admin2.get_object_siswa', siswa=i.id)}}" class="btn btn-outline-warning btn-xs">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <button class="btn btn-outline-danger btn-xs" title="Delete data." data-toggle="modal"
                  data-target="#delete-{{i.id}}">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            {% include 'modal/admin/siswa/view_image.html' %}
            {% include 'modal/admin/siswa/view_qr.html' %}
            {% include 'modal/admin/siswa/modal_upload.html' %}
            {% include 'modal/admin/siswa/modal_detail_siswa.html' %}
            {% include 'modal/admin/siswa/delete.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table>
          <tr>
            <th class="text-info" colspan="3">Note :</th>
          </tr>
          <tr>
            <td style="width: 80px;">- ID Card</td>
            <td style="width: 20px;">:</td>
            <td>ID Card dapat dibuat setelah Foto dan QR Code ada.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>
{%endblock%}
{% block js %}
<!-- DataTables  & Plugins -->
<script src="{{ url_for('.static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}">
</script>
<script src="{{ url_for('.static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}">
</script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
<!-- Page specific script -->
<script>
  $(function () {

    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,

    });

    $('[data-tooltip="tooltip"]').tooltip()
  });
</script>
<script>
  $(function () {
    bsCustomFileInput.init();
  });
</script>
{% endblock js %}