{% extends 'base.html' %} {% block head %} {{ super() }}
<!-- DataTables -->
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}" />
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}" />
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}" />

<style>
  .tile_count {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .tile_count .tile_stats_count {
    border-bottom: 1px solid #d9dee4;
    padding: 0 10px 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }

  @media (min-width: 992px) {
    .tile_count .tile_stats_count {
      margin-bottom: 10px;
      border-bottom: 0;
      padding-bottom: 10px;
    }
  }

  .tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #adb2b5;
    margin-top: 10px;
  }

  @media (min-width: 992px) {
    .tile_count .tile_stats_count:first-child:before {
      border-left: 0;
    }
  }

  .tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
  }

  @media (min-width: 768px) {
    .tile_count .tile_stats_count .count {
      font-size: 40px;
    }
  }

  @media (min-width: 992px) and (max-width: 1100px) {
    .tile_count .tile_stats_count .count {
      font-size: 30px;
    }
  }

  .tile_count .tile_stats_count span {
    font-size: 12px;
  }

  @media (min-width: 768px) {
    .tile_count .tile_stats_count span {
      font-size: 13px;
    }
  }

  .tile_count .tile_stats_count .count_bottom i {
    width: 12px;
  }
</style>
{% endblock %} {% set filename='daftar-pelanggar' %} {% block content %} {#
<div class="row tile_count">
  {% for i, poin in sql_poin %}

  <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count">
    <span class="count_top">Poin Terbanyak Ke-{{ loop.index }} </span>
    <div class="count">
      <!-- <a class="pull-left border-green profile_thumb" style="color:#da8631"> -->
      <a class="pull-left border-green profile_thumb" style="color: #fec001">
        <i class="fa fa-exclamation-circle"></i>&nbsp;
      </a>
      <a href="#">{{ poin }}</a>
    </div>
    <span class="count_bottom">
      <h5 style="font-size: 10.5pt">
        {{ i.siswa.first_name | title }} {{ i.siswa.last_name | title }}
      </h5>
    </span>
  </div>

  {% endfor %}
</div>
#}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">RIWAYAT PELANGGARAN</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <a href="{{ url_for('guru_bk.add_data_pelanggar') }}" class="btn btn-sm btn-primary mb-3">
              <i class="fas fa-plus"></i>
              Tambah Data
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-12">
            <table id="tabel" class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th class="text-center">No.</th>
                  <th class="text-center">Nama Siswa</th>
                  <th class="text-center">Kelas</th>
                  <th class="text-center">Pelanggaran</th>
                  <th class="text-center">Status</th>
                  <!-- <th class="text-center">Tanggal</th> -->
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                {% for i, countx, status, id in data %}
                <tr>
                  <td class="text-center">{{ loop.index }}</td>
                  <td>{{ i.siswa.first_name | title }} {{ i.siswa.last_name | title }}</td>
                  <td class="text-center">{{ i.siswa.kelas.kelas }}</td>
                  <td>{{ i.jenis_pelanggaran.jenis_pelanggaran | truncate}}</td>
                  <td>{{ 'Belum dibina' if status == None or status == '' else status }}</td>
                  <td class="text-justify">
                    <a href="{{ url_for('guru_bk.detail_all_pelanggaran', id=i.siswa_id) }}"
                      class="ml-1 btn btn-outline-info btn-xs" data-toggle="tooltip" data-placement="top"
                      title="Detail">
                      <i class="fas fa-eye"></i>
                    </a>

                    {% if countx >= 3 %}
                    <a href="{{ url_for('guru_bk.add_proses_pembinaan', pelanggaran=id, siswa=i.siswa_id)}}"
                      class="btn btn-outline-danger btn-xs" data-toggle="tooltip" data-placement="left"
                      title="Lakukan Pembinaan">
                      <i class="fas fa-plus-circle"></i>
                    </a>
                    {% endif %}

                    {#<a href="{{ url_for('guru_bk.edit_data_pelanggaran', idx=i.id) }}"
                      class="btn btn-outline-warning btn-xs ml-1" data-toggle="tooltip" data-placement="right"
                      title="Edit">
                      <i class="fas fa-edit"></i>
                      <span>Edit</span>
                    </a>
                    <a href="{{ url_for('guru_bk.delete_data_pelanggaran', idx=i.id) }} "
                      class="ml-1 btn btn-outline-danger btn-xs" data-toggle="tooltip" data-placement="right"
                      title="Delete">
                      <i class="fas fa-trash"></i>
                      <span>Delete</span> </a>#}
                  </td>
                </tr>
                {% endfor %}
                {#{% for i, poin in sql_pelanggar %}
                <tr>
                  <td class="text-center align-middle">{{ loop.index }}</td>
                  <td class="align-middle">
                    {{ i.siswa.first_name | title }} {{ i.siswa.last_name |
                    title }}
                  </td>
                  <td class="text-center align-middle">
                    {{ i.siswa.kelas.kelas }}
                  </td>
                  <!-- <td>{{ i.jenis_pelanggaran.jenis }}</td> -->
                  <td>{{ i.note }}</td>
                  <td>{{ format(i.tgl_report) }}</td>
                  <td class="text-center">
                    <a href="#" class="btn btn-outline-danger btn-xs" data-toggle="tooltip" data-placement="left"
                      title="Tambah Ke Pembinaan">
                      <i class="fas fa-plus-circle"></i>
                    </a>
                    <a href="{{ url_for('guru_bk.detail_pelanggaran', id=i.id) }}"
                      class="ml-1 btn btn-outline-info btn-xs" data-toggle="tooltip" data-placement="top"
                      title="Detail">
                      <i class="fas fa-eye"></i>
                    </a>
                    <a href="{{ url_for('guru_bk.edit_data_pelanggaran', idx=i.id) }}"
                      class="btn btn-outline-warning btn-xs ml-1" data-toggle="tooltip" data-placement="right"
                      title="Edit">
                      <i class="fas fa-edit"></i>
                      <!-- <span>Edit</span> -->
                    </a>
                    <a href="{{ url_for('guru_bk.delete_data_pelanggaran', idx=i.id) }} "
                      class="ml-1 btn btn-outline-danger btn-xs" data-toggle="tooltip" data-placement="right"
                      title="Delete">
                      <i class="fas fa-trash"></i>
                      <!-- <span>Delete</span> --> </a>
                  </td>
                </tr>
                {% endfor %}#}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block js %}
<!-- DataTables  & Plugins -->
<script src="{{ url_for('.static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}">
</script>
<script src="{{ url_for('.static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}">
</script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- bs-custom-file-input -->
<script src="{{ url_for('.static', filename='plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>

<script>
  $(function () {
    $("#tabel").DataTable({
      processing: true,
    });

    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock js %}